<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="count=1">+</button>
        <button @click="count=2">-</button>
        <button @click="count=3">*</button>
        <button @click="count=4">/</button>
        <br>

        <template v-if="count==1">
            <p style="font-size: 30px;"><b><span>การบวก</span></b></p>
        </template>
        <template v-else-if="count==2">
            <p style="font-size: 30px;"><b><span>การลบ</span></b></p>
        </template>
        <template v-else-if="count==3">
            <p style="font-size: 30px;"><b><span>การคูณ</span></b></p>
        </template>
        <template v-else>
            <p style="font-size: 30px;"><b><span>การหาร</span></b></p>
        </template>
        <br>

        <input type="number" id="num1" value="num1" v-model="number1">
        <template v-if="count==1">
            <span>+</span>
        </template>
        <template v-else-if="count==2">
            <span>-</span>
        </template>
        <template v-else-if="count==3">
            <span>*</span>
        </template>
        <template v-else>
            <span>/</span>
        </template>
        <input type="number" id="num2" value="num2" v-model="number2">
        <span>=</span>

        
        <template v-if="count==1">
            <span>{{ plus }}</span>
        </template>
        <template v-else-if="count==2">
            <span>{{ del }}</span>
        </template>
        <template v-else-if="count==3">
            <span>{{ mul }}</span>
        </template>
        <template v-else-if="count==4">
            <span>{{ div }}</span>
        </template>
        <br>


    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number1: 0,
                number2: 0,
                count: 1
            },
            computed: {
                plus: function() {
                    return parseInt(this.number1) + parseInt(this.number2)
                },
                del: function() {
                    return parseInt(this.number1) - parseInt(this.number2)
                },
                mul: function() {
                    return parseInt(this.number1) * parseInt(this.number2)
                },
                div: function() {
                    return parseInt(this.number1) / parseInt(this.number2)
                },
            },
        });

    </script>
    
</body>
</html>